<!DOCTYPE html>
<html>
<head>
    {include file="common/header" /}
</head>
<body>
<div class="x-body">
    <form class="layui-form layui-form-pane" id="searchTable">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    配置项名称：
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="system_name"  placeholder="输入配置项名称..." autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">
                    配置项code：
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="system_code"  placeholder="输入配置项code..." autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">
                    配置项状态：
                </label>
                <div class="layui-input-inline">
                    <select name="status">
                        <option value="2">==配置项状态==</option>
                        <option value="1">已启用</option>
                        <option value="0">已禁用</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn"  data-type="reload" type="button"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </div>
    </form>

    <xblock>
        <div class="layui-btn-group">
            <a class="layui-btn"  href="javascript:;" onclick="x_admin_show('添加配置项','{:url(\'blog_system/systemAdd\')}',600,500)"><i class="layui-icon">&#xe61f;</i>添加</a>
            <button class="layui-btn layui-btn-warm" onclick="javascript:document.getElementsByClassName('layui-laypage-btn')[0].click();"><i class="layui-icon">&#xe669;</i>刷新</button>
        </div>
    </xblock>

    <table class="layui-hide" id="layui_table" lay-even lay-filter="tool_layui_table"></table>

</div>
<script>
    $(function(){
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#layui_table',
                url: '{:url("blog_system/ajaxGetSystemList")}',
                title: '博客配置项',
                cols: [[
                    {field:'system_id', title:'ID',width:80, align: 'center',fixed: 'left'},
                    {field:'system_name', title:'配置项名称', align: 'left',fixed: 'left'},
                    {field:'system_code', title:'配置项code', align: 'left',fixed: 'left'},
                    {field:'status', title:'显示状态',width:100, align: 'center', templet: function(res){
                        if(res.status == 1){
                            return '<span class="layui-btn layui-btn-normal layui-btn-xs layui-btn-radius td-status">已启用</span>';
                        }else if(res.status == 0){
                            return '<span class="layui-btn layui-btn-disabled layui-btn-xs layui-btn-radius td-status">已停用</span>';
                        }
                    }},
                    {field:'create_time', title:'创建时间', align: 'center'},
                    {fixed: 'right', title:'操作', align: 'center', templet: function(res){
                        var barManageHtml = '';
                        if(res.status == 1){
                            barManageHtml += '<a title="停用" class="handle_status" href="javascript:;" lay-event="status"><i class="layui-icon layui-icon-download-circle"></i></a>';
                        }else if(res.status == 0){
                            barManageHtml += '<a title="启用" class="handle_status" href="javascript:;" lay-event="status"><i class="layui-icon layui-icon-upload-circle"></i></a>';
                        }
                        barManageHtml += '<a title="编辑"  href="javascript:;" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>';
                        return barManageHtml;
                    }}
                ]],
                id: 'tableReload',
                page: true,
            })
            //监听行工具事件
            table.on('tool(tool_layui_table)', function(obj){
                var data = obj.data;
                if(obj.event === 'status'){
                    //启用、停用
                    var msg = '';
                    var change_status = 0;
                    if(data.status == 1){
                        //要停用
                        msg = '真的要停用该配置项吗？';
                        change_status = 0;
                    }else if(data.status == 0){
                        //要启用
                        msg = '真的要启用该配置项吗？';
                        change_status = 1
                    }
                    layer.confirm(msg, function(index){
                        var load_index = layer.load(1, {
                            shade: [0.5,'#fff'] //0.1透明度的白色背景
                        });
                        var post_url = "{:url('blog_system/ajaxUpdateSystemStatus')}";
                        var post_data = {"system_id":data.system_id,"status":change_status};
                        $.ajax({
                            type : "POST",
                            url : post_url,
                            data:post_data,
                            dataType:'json',
                            success : function(result){
                                layer.close(load_index);
                                if(result.status == 500){
                                    layer.msg(result.msg, {icon: 5});
                                }else if(result.status == 200){
                                    if(obj.tr.find(".handle_status").attr('title') == '启用'){

                                        obj.tr.find(".handle_status").attr('title','停用')
                                        obj.tr.find(".handle_status").find('i').removeClass('layui-icon-upload-circle').addClass('layui-icon-download-circle');

                                        obj.tr.find(".td-status").removeClass('layui-btn-disabled').html('已启用');
                                        layer.msg('已启用',{icon: 6,time:1000});

                                        obj.update({
                                            status: 1
                                        });
                                    }else if(obj.tr.find(".handle_status").attr('title') == '停用'){

                                        obj.tr.find(".handle_status").attr('title','启用')
                                        obj.tr.find(".handle_status").find('i').removeClass('layui-icon-download-circle').addClass('layui-icon-upload-circle');

                                        obj.tr.find(".td-status").addClass('layui-btn-disabled').html('已停用');
                                        layer.msg('已停用',{icon: 6,time:1000});

                                        obj.update({
                                            status: 0
                                        });
                                    }
                                }
                            }
                        });
                    });
                } else if(obj.event === 'edit'){
                    x_admin_show('编辑配置项',"{:url(\'blog_system/systemEdit\')}?system_id="+data.system_id,600,500);
                }
            });
            var $ = layui.$, active = {
                reload: function(){
                    var where = {};
                    var system_name = $("input[name='system_name']").val();
                    if(typeof system_name != 'undefined' && system_name != ''){
                        where.system_name = system_name;
                    }
                    var system_code = $("input[name='system_code']").val();
                    if(typeof system_code != 'undefined' && system_code != ''){
                        where.system_code = system_code;
                    }
                    var status = $("select[name='status']").val();
                    if(typeof status != 'undefined' && status != ''){
                        where.status = status;
                    }
                    table.reload('tableReload', {
                        page: {
                            curr: 1
                        },
                        where: where
                    });
                }
            };
            $('#searchTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    })
</script>
</body>
</html>