<footer>
    <div class="footer">
        <div class="wxbox">
            <ul>
                <li><img src="/public/static/index/images/grwx.png"><span>我的微信</span></li>
                <li><img src="/public/static/index/images/wx.jpg"><span>微信公众号</span></li>
            </ul>
        </div>
        <div class="bzjj">
            <h2>本站简介</h2>
            <p>杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。</p>
        </div>
        <div class="other">
            <h2>网站版权</h2>
            <p>未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：476847113@qq.com</p>
            <p>&nbsp;</p>
            <p>备案号：蜀ICP备11002373号-1</p>
        </div>
    </div>
</footer>
<a href="#" class="cd-top">Top</a>