<meta charset="utf-8">
<title><?php if(isset($seo) && isset($seo['blog_name'])):?><?php echo $seo['blog_name'];?><?php endif;?></title>
<meta name="keywords" content="<?php if(isset($seo) && isset($seo['blog_keywords'])):?><?php echo $seo['blog_keywords'];?><?php endif;?>" />
<meta name="description" content="<?php if(isset($seo) && isset($seo['blog_description'])):?><?php echo $seo['blog_description'];?><?php endif;?>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/public/static/index/css/base.css" rel="stylesheet">
<link href="/public/static/index/css/index.css" rel="stylesheet">
<link href="/public/static/index/css/m.css" rel="stylesheet">
<script src="/public/static/index/js/jquery.min.js" ></script>
<script src="/public/static/index/js/hc-sticky.js"></script>
<script src="/public/static/index/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="/public/static/index/js/modernizr.js"></script>
<![endif]-->