<!doctype html>
<html>
<head>
    {include file="common/head" /}
</head>
<body>
<header id="header">
    {include file="common/navbar" /}
    <div class="header-navigation">
        {include file="common/nav" /}
    </div>
</header>
<div class="wrapper">
    <main>
        <!--banner begin-->
        <div class="banner">
            <?php if(isset($blog_index_banner)):?>
            <div id="banner" class="fader">
                <?php foreach($blog_index_banner as $v):?>
                <li class="slide" ><a href="<?php echo $v['ad_image_open_url'];?>" title="<?php echo $v['ad_name'];?>"><img src="<?php echo $v['ad_image'];?>"><span class="imginfo"><?php echo $v['ad_name'];?></span></a></li>
                <?php endforeach;?>
                <div class="fader_controls">
                    <div class="page prev" data-target="prev">&lsaquo;</div>
                    <div class="page next" data-target="next">&rsaquo;</div>
                    <ul class="pager_list">
                    </ul>
                </div>
            </div>
            <?php endif;?>
        </div>
        <!--banner end-->
        <div class="bloglist">
            <?php if(isset($index_blog)):?>
            <ul>
                <?php foreach($index_blog['list'] as $v):?>
                <li> <i class="blogpic"><a href="<?php echo $v['blog_url'];?>"><img src="<?php echo $v['blog_thumb'];?>" alt="<?php echo $v['blog_title'];?>"> </a></i>
                    <dl>
                        <dt><a href="<?php echo $v['blog_url'];?>"><?php echo $v['blog_title'];?></a></dt>
                        <dd><span class="bloginfo"><?php echo $v['blog_description'];?></span>
                            <p class="timeinfo"><span class="lanmu"><a href="<?php echo $v['blog_category_url'];?>"><?php echo $v['category_name'];?></a></span><span class="date"><?php echo $v['create_time'];?></span></p>
                            <a class="read" href="<?php echo $v['blog_url'];?>">阅读更多</a> </dd>
                    </dl>
                </li>
                <?php endforeach;?>
            </ul>
            <?php endif;?>
        </div>
        <!--bloglist end-->
        <?php if(isset($index_blog)):?><?php echo $index_blog['page'];?><?php endif;?>
    </main>
    {include file="common/aside" /}
    <!--sidebar end-->
</div>
<!--wrapper end-->
{include file="common/footer" /}
</body>
</html>
