<!doctype html>
<html>
<head>
    {include file="common/head" /}
</head>
<body>
<header id="header">
    {include file="common/navbar" /}
    <div class="header-navigation">
        {include file="common/nav" /}
    </div>
</header>
<div class="wrapper">
    <main>
        <!--banner begin-->
        <div class="banner">
            <div id="banner" class="fader">
                <li class="slide" ><a href="/news/life/2018-06-17/873.html" title="D设计师博客-一个热爱生活的设计师" target="_blank"><img src="/public/static/index/images/1.jpg"><span class="imginfo">D设计师博客-一个热爱生活的设计师</span></a></li>
                <li class="slide" ><a href="/news/life/2018-04-27/816.html" title="个人博客，属于我的小世界！" target="_blank"><img src="/public/static/index/images/2.jpg"><span class="imginfo">个人博客，属于我的小世界！</span></a></li>
                <div class="fader_controls">
                    <div class="page prev" data-target="prev">&lsaquo;</div>
                    <div class="page next" data-target="next">&rsaquo;</div>
                    <ul class="pager_list">
                    </ul>
                </div>
            </div>
        </div>
        <!--banner end-->
        <div class="bloglist">
            <?php if(isset($index_blog)):?>
            <ul>
                <?php foreach($index_blog as $v):?>
                <li> <i class="blogpic"><a href="<?php echo $v['blog_url'];?>"><img src="<?php echo $v['blog_thumb'];?>" alt="<?php echo $v['blog_title'];?>"> </a></i>
                    <dl>
                        <dt><a href="<?php echo $v['blog_url'];?>"><?php echo $v['blog_title'];?></a></dt>
                        <dd><span class="bloginfo"><?php echo $v['blog_description'];?></span>
                            <p class="timeinfo"><span class="lanmu"><a href="<?php echo $v['blog_category_url'];?>"><?php echo $v['category_name'];?></a></span><span class="date"><?php echo $v['create_time'];?></span></p>
                            <a class="read" href="<?php echo $v['blog_url'];?>">阅读更多</a> </dd>
                    </dl>
                </li>
                <?php endforeach;?>
            </ul>
            <?php endif;?>
        </div>
        <!--bloglist end-->
    </main>
    {include file="common/aside" /}
    <!--sidebar end-->
</div>
<!--wrapper end-->
{include file="common/footer" /}
</body>
</html>
