<!doctype html>
<html>
<head>
    {include file="common/head" /}
</head>
<body>
<header id="header">
    {include file="common/navbar" /}
    <div class="header-navigation">
        {include file="common/nav" /}
    </div>
</header>
<div class="wrapper">
    <main>
        <h2 class="place">您现在的位置是：网站首页&gt; <a href="javascript:;">博文详情</a></h2>
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title"><?php if(isset($blog_info)):?><?php echo $blog_info['blog_title'];?><?php endif;?></h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author"> </li>
                        <li class="lmname">博客日记</li>
                        <li class="timer"><?php if(isset($blog_info)):?><?php echo $blog_info['create_time'];?><?php endif;?></li>
                        <li class="view"><?php if(isset($blog_info)):?><?php echo $blog_info['blog_views'];?><?php endif;?>人已阅读</li>
                    </ul>
                </div>
                <div class="tags">
                    <a href="/e/tags/?tagname=%B8%F6%C8%CB%B2%A9%BF%CD&amp;tempid=13" target="_blank">个人博客</a>
                    <a href="/e/tags/?tagname=%B5%DB%B9%FAcms&amp;tempid=13" target="_blank">帝国cms</a>
                </div>
                <div class="news_about"><strong>简介</strong><?php if(isset($blog_info)):?><?php echo $blog_info['blog_description'];?><?php endif;?></div>
                <div class="news_con"><?php if(isset($blog_info)):?><?php echo $blog_info['blog_detail'];?><?php endif;?></div>
            <div class="share">
                <p class="diggit"><a href="JavaScript:makeRequest('/e/public/digg/?classid=49&amp;id=884&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="/e/public/ViewClick/?classid=49&amp;id=884&amp;down=5"></script>19</b>)</p>
            </div>
            <div class="nextinfo">
                <p>上一篇：<a href="/blogs/876.html">个人博客，我为什么要用帝国cms？</a></p>
                <p>下一篇：<a href="/blogs/">返回列表</a></p>
            </div>
            <div class="otherlink">
                <h2>相关文章</h2>
                <ul>
                    <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
                    <li><a href="/download/div/2018-04-18/814.html" title="html5个人博客模板主题《清雅》">html5个人博客模板主题《清雅》</a></li>
                    <li><a href="/download/div/2018-03-18/807.html" title="html5个人博客模板主题《绅士》">html5个人博客模板主题《绅士》</a></li>
                    <li><a href="/download/div/2018-02-22/798.html" title="html5时尚个人博客模板-技术门户型">html5时尚个人博客模板-技术门户型</a></li>
                    <li><a href="/download/div/2017-09-08/789.html" title="html5个人博客模板主题《心蓝时间轴》">html5个人博客模板主题《心蓝时间轴》</a></li>
                    <li><a href="/download/div/2017-07-16/785.html" title="古典个人博客模板《江南墨卷》">古典个人博客模板《江南墨卷》</a></li>
                    <li><a href="/download/div/2017-07-13/783.html" title="古典风格-个人博客模板">古典风格-个人博客模板</a></li>
                    <li><a href="/download/div/2015-06-28/748.html" title="个人博客《草根寻梦》—手机版模板">个人博客《草根寻梦》—手机版模板</a></li>
                    <li><a href="/download/div/2015-04-10/746.html" title="【活动作品】柠檬绿兔小白个人博客模板">【活动作品】柠檬绿兔小白个人博客模板</a></li>
                    <li><a href="/jstt/bj/2015-01-09/740.html" title="【匆匆那些年】总结个人博客经历的这四年…">【匆匆那些年】总结个人博客经历的这四年…</a></li>
                </ul>
            </div>
            <div class="news_pl">
                <h2>文章评论</h2>
                <div class="gbko"> </div>
            </div>
        </div>
    </main>
    {include file="common/aside" /}
    <!--sidebar end-->
</div>
<!--wrapper end-->
{include file="common/footer" /}
</body>
</html>
