<!doctype html>
<html>
<head>
    {include file="common/head" /}
</head>
<body>
<header id="header">
    {include file="common/navbar" /}
    <div class="header-navigation">
        {include file="common/nav" /}
    </div>
</header>
<div class="wrapper">
    <main>
        <h2 class="place">您现在的位置是：网站首页&gt; <a href="/">模板分享</a></h2>
        <?php if(isset($blog_list)):?>
        <div class="bloglist">
            <?php if(!empty($blog_list['list'])):?>
            <ul>
                <?php foreach($blog_list['list'] as $v):?>
                <li> <i class="blogpic"><a href="<?php echo $v['blog_url'];?>" title="<?php echo $v['blog_title'];?>"><img src="<?php echo $v['blog_thumb'];?>" alt="<?php echo $v['blog_title'];?>"> </a></i>
                    <dl>
                        <dt><a href="<?php echo $v['blog_url'];?>" title="<?php echo $v['blog_title'];?>"><?php echo $v['blog_title'];?></a></dt>
                        <dd><span class="bloginfo"><?php echo $v['blog_description'];?></span>
                            <p class="timeinfo"><span class="lanmu"><a href="<?php echo $v['blog_category_url'];?>"><?php echo $v['category_name'];?></a></span><span class="date"><?php echo $v['create_time'];?></span></p>
                            <a class="read" href="<?php echo $v['blog_url'];?>">阅读更多</a> </dd>
                    </dl>
                </li>
                <?php endforeach;?>
            </ul>
            <?php endif;?>
        </div>
        <?php endif;?>
        <!--bloglist end-->
        <?php if(isset($blog_list)):?><?php echo $blog_list['page'];?><?php endif;?>
    </main>
    {include file="common/aside" /}
    <!--sidebar end-->
</div>
<!--wrapper end-->
{include file="common/footer" /}
</body>
</html>
