<!doctype html>
<html>
<head>
    {include file="common/head" /}
</head>
<body>
<header id="header">
    {include file="common/navbar" /}
    <div class="header-navigation">
        {include file="common/nav" /}
    </div>
</header>
<div class="wrapper">
    <main>
        <h2 class="place">您现在的位置是：网站首页&gt; <a href="/">模板分享</a></h2>

        <div class="bloglist">
            <ul>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/1.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">个人博客，我为什么要用帝国cms？</a></dt>
                        <dd><span class="bloginfo">选择帝国cms，做一个博客系统，很多人都说是大材小用。确实是有那种感觉，因为cms有很多功能表用不上。但是帝国cms的安装包也就才6M，如果你放一张高清的1920的图，都比这安装包大！我就来说一说我为什么要用帝国cms...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/2.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">第二届 优秀个人博客模板比赛参选活动</a></dt>
                        <dd><span class="bloginfo">只要你是在校大学生，不管你是新生，还是即将毕业，不管你是前端菜鸟，还是前端大神，只要你会html，这里将会是你展示才能的大平台</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/3.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">D设计师博客-一个热爱生活的设计师</a></dt>
                        <dd><span class="bloginfo">D设计师博客网站，站长是一个80后室内设计师！也是一个机械设计工程师，一边工作一边积累经验，也经常逛技术论坛，发点文章，回复一些技术问题。做过设计论坛，被称为“神”的技术大咖。...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/4.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">《寻之旅》一个关于旅游，游记的个人博客</a></dt>
                        <dd><span class="bloginfo">《寻之旅》www.searchtrip.cn 这是一个记录游记，旅游分享的个人博客，我们相识于3月份，一句“你可以先不要删我嘛”，还有海绵宝宝的头像，让我对他印象深刻...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/5.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">个人博客，我为什么要用帝国cms？</a></dt>
                        <dd><span class="bloginfo">选择帝国cms，做一个博客系统，很多人都说是大材小用。确实是有那种感觉，因为cms有很多功能表用不上。但是帝国cms的安装包也就才6M，如果你放一张高清的1920的图，都比这安装包大！我就来说一说我为什么要用帝国cms...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/6.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">第二届 优秀个人博客模板比赛参选活动</a></dt>
                        <dd><span class="bloginfo">只要你是在校大学生，不管你是新生，还是即将毕业，不管你是前端菜鸟，还是前端大神，只要你会html，这里将会是你展示才能的大平台</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/7.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">D设计师博客-一个热爱生活的设计师</a></dt>
                        <dd><span class="bloginfo">D设计师博客网站，站长是一个80后室内设计师！也是一个机械设计工程师，一边工作一边积累经验，也经常逛技术论坛，发点文章，回复一些技术问题。做过设计论坛，被称为“神”的技术大咖。...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/8.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">《寻之旅》一个关于旅游，游记的个人博客</a></dt>
                        <dd><span class="bloginfo">《寻之旅》www.searchtrip.cn 这是一个记录游记，旅游分享的个人博客，我们相识于3月份，一句“你可以先不要删我嘛”，还有海绵宝宝的头像，让我对他印象深刻...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/9.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">个人博客，我为什么要用帝国cms？</a></dt>
                        <dd><span class="bloginfo">选择帝国cms，做一个博客系统，很多人都说是大材小用。确实是有那种感觉，因为cms有很多功能表用不上。但是帝国cms的安装包也就才6M，如果你放一张高清的1920的图，都比这安装包大！我就来说一说我为什么要用帝国cms...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/10.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">第二届 优秀个人博客模板比赛参选活动</a></dt>
                        <dd><span class="bloginfo">只要你是在校大学生，不管你是新生，还是即将毕业，不管你是前端菜鸟，还是前端大神，只要你会html，这里将会是你展示才能的大平台</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/11.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">D设计师博客-一个热爱生活的设计师</a></dt>
                        <dd><span class="bloginfo">D设计师博客网站，站长是一个80后室内设计师！也是一个机械设计工程师，一边工作一边积累经验，也经常逛技术论坛，发点文章，回复一些技术问题。做过设计论坛，被称为“神”的技术大咖。...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
                <li> <i class="blogpic"><a href="#"><img src="/public/static/index/images/12.jpg" alt=""> </a></i>
                    <dl>
                        <dt><a href="#" target="_blank">《寻之旅》一个关于旅游，游记的个人博客</a></dt>
                        <dd><span class="bloginfo">《寻之旅》www.searchtrip.cn 这是一个记录游记，旅游分享的个人博客，我们相识于3月份，一句“你可以先不要删我嘛”，还有海绵宝宝的头像，让我对他印象深刻...</span>
                            <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">2018-07-03</span></p>
                            <a class="read" href="/">阅读更多</a> </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--bloglist end-->
        <div class="pagelist"><a title="Total record">&nbsp;<b>163</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>
    </main>
    {include file="common/aside" /}
    <!--sidebar end-->
</div>
<!--wrapper end-->
{include file="common/footer" /}
</body>
</html>
